body {
  font-family: 'Courier New', monospace;
  background-color: #000000;
  color: #00ff00;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #00ff00;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  animation: glitch 2s infinite;
}

p {
    /* line-height: 1.6; */
    /* margin-bottom: 20px; */
    font-size: 25px;
  }

.color {
  /* margin-bottom: 20px; */
  font-size: 20px;
  margin: 50px;
}

.divider {
  margin-bottom: 20px;
  text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    animation: neon 1s infinite;
  }
  
  .btn:hover {
    background-color: #50ff50;
    color: #ffffff;
  }
  
  @keyframes neon {
    0% {
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
    50% {
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 30px #00ff00;
    }
    100% {
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
  }
  
  .terminal {
    text-align: center;
    background-color: #000000;
    padding: 100px;
    border: 100px solid #00ff00;
    border-radius: 5px;
    overflow: clip;
  }
  
  .terminal pre {
    margin: 0;
    padding: 0;
    color: #00ff00;
  }

h2 {
    color: #00ff00;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    animation: glitch 2s infinite;
  }

  h3 {
    color: #00ff00;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    animation: glitch 2s infinite;
  }
  
  form {
    margin-top: 40px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .hack-input {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #000000;
    color: #00ff00;
    border: 1px solid #00ff00;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  input[type="btn"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    animation: neon 1s infinite;
  }
  
  input[type="btn"]:hover {
    background-color: #ff00ff;
    color: #ffffff;
  }

  .terminal {
      font-family: monospace;
      color: #0F0;
      background-color: #000;
      padding: 20px;
      border: 2px solid #0F0;
  }
  
  .text {
      animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      font-size: 18px;
  }


  
  .cursor {
      display: inline-block;
      width: 10px;
      height: 2px;
      background-color: #0F0;
      animation: blink-caret 0.75s step-end infinite;
  }
  
  .cursBig {
      display: inline-block;
      width: 10px;
      height: 15px;
      background-color: #0F0;
      animation: blink-caret 0.75s step-end infinite;
  }

  .Acursor {
    display: inline-block;
    width: 10px;
    height: 18px;
    background-color: #0F0;
    animation: blink-caret 0.75s step-end infinite;
}

  @keyframes typing {
      from {
          max-height: 0;
      }
      to {
          max-height: calc(100% - 20px);
      }
  }
  
  @keyframes blink-caret {
      from, to {
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
  }

  .output {
    white-space: pre;
    font-size: 18px;
    overflow: hidden;
    max-height: calc(100% - 20px);
    animation: typing 2s steps(20, end);
    margin-bottom: 20px;
}

pre {
  white-space: pre;
  margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #000000;
overflow: hidden;
text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #00ff00;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #00ff00;
color: white;
}

.topnav a.unusual {
background-color: #050505;
color: white;
}